USE [master]
GO
/****** Objeto: Database [NewRich] Fecha de script: 27/09/2026 7:52:27 p. m. ******/
CREATE DATABASE [NewRich]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewRich', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NewRich_Primary.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewRich_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NewRich_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewRich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewRich]
GO
/****** Objeto: Table [dbo].[AdjuntosChat] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjuntosChat](
	[AdjuntoId] [uniqueidentifier] NOT NULL,
	[MensajeId] [uniqueidentifier] NOT NULL,
	[RutaArchivo] [nvarchar](500) NOT NULL,
	[NombreOriginal] [nvarchar](255) NOT NULL,
	[FechaCarga] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AdjuntosChat] PRIMARY KEY CLUSTERED 
(
	[AdjuntoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Boletos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletos](
	[BoletoId] [uniqueidentifier] NOT NULL,
	[VentaId] [uniqueidentifier] NOT NULL,
	[CodigoPublico] [char](7) NOT NULL,
	[ClaveValidacionHash] [nvarchar](200) NOT NULL,
	[EstadoBoleto] [nvarchar](30) NOT NULL,
	[EstadoDelPremio] [nvarchar](30) NULL,
	[FechaEntregaPremio] [datetime2](7) NULL,
	[CasoGanadorId] [uniqueidentifier] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[VigenciaDias] [int] NOT NULL,
	[QrCifrado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Boletos] PRIMARY KEY CLUSTERED 
(
	[BoletoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Boletos_CodigoPublico] UNIQUE NONCLUSTERED 
(
	[CodigoPublico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CasosGanadores] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasosGanadores](
	[CasoId] [uniqueidentifier] NOT NULL,
	[BoletoId] [uniqueidentifier] NOT NULL,
	[TicketCode] [char](7) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaReporte] [datetime2](7) NOT NULL,
	[FechaValidacionAdmin] [datetime2](7) NULL,
	[FechaAsignacion] [datetime2](7) NULL,
	[FechaRegistro] [datetime2](7) NULL,
	[VendedorQueReporto] [uniqueidentifier] NOT NULL,
	[AdminQueValido] [uniqueidentifier] NULL,
	[AdminQueAsigno] [uniqueidentifier] NULL,
	[ObservadorAsignado] [uniqueidentifier] NULL,
	[FotoTicketRuta] [nvarchar](260) NULL,
	[FotoTicketNombre] [nvarchar](260) NULL,
 CONSTRAINT [PK_CasosGanadores] PRIMARY KEY CLUSTERED 
(
	[CasoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CasosGanadores_BoletoId] UNIQUE NONCLUSTERED 
(
	[BoletoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ClavesValidacionBoleto] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClavesValidacionBoleto](
	[ClaveId] [uniqueidentifier] NOT NULL,
	[BoletoId] [uniqueidentifier] NOT NULL,
	[ClaveHash] [nvarchar](200) NOT NULL,
	[Version] [int] NOT NULL,
	[IdentificadorClave] [uniqueidentifier] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClavesValidacionBoleto] PRIMARY KEY CLUSTERED 
(
	[ClaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ClavesValidacionBoleto_BoletoId] UNIQUE NONCLUSTERED 
(
	[BoletoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ClavesValidacionBoleto_Identificador] UNIQUE NONCLUSTERED 
(
	[IdentificadorClave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CodigosPreventaOffline] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodigosPreventaOffline](
	[CodigoId] [uniqueidentifier] NOT NULL,
	[ConsecutivoUnico] [nvarchar](30) NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[DispositivoId] [uniqueidentifier] NOT NULL,
	[PayloadCifrado] [varbinary](max) NOT NULL,
	[EstadoDelCodigo] [nvarchar](20) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaDescarga] [datetime2](7) NULL,
	[FechaVentaOffline] [datetime2](7) NULL,
	[FechaRegistro] [datetime2](7) NULL,
	[AdminQueRegistro] [uniqueidentifier] NULL,
	[VentaId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CodigosPreventaOffline] PRIMARY KEY CLUSTERED 
(
	[CodigoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CodigosPreventaOffline_Consecutivo] UNIQUE NONCLUSTERED 
(
	[ConsecutivoUnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Configuraciones] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[ConfiguracionId] [uniqueidentifier] NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[ConfiguracionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Configuraciones_Clave] UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConfiguracionesTipoApuesta] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionesTipoApuesta](
	[ConfiguracionTipoApuestaId] [uniqueidentifier] NOT NULL,
	[TipoApuesta] [nvarchar](20) NOT NULL,
	[Maximo] [int] NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionesTipoApuesta] PRIMARY KEY CLUSTERED 
(
	[ConfiguracionTipoApuestaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ConfiguracionesTipoApuesta_Tipo] UNIQUE NONCLUSTERED 
(
	[TipoApuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Conversaciones] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversaciones](
	[ConversacionId] [uniqueidentifier] NOT NULL,
	[UsuarioIniciadorId] [uniqueidentifier] NOT NULL,
	[UsuarioDestinoId] [uniqueidentifier] NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaCierre] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Conversaciones] PRIMARY KEY CLUSTERED 
(
	[ConversacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Dispositivos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispositivos](
	[DispositivoId] [uniqueidentifier] NOT NULL,
	[CodigoDispositivo] [nvarchar](20) NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Modelo] [nvarchar](100) NULL,
	[NumeroSerie] [nvarchar](100) NULL,
	[CapacidadCodigosOffline] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Dispositivos] PRIMARY KEY CLUSTERED 
(
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Dispositivos_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoDispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Dispositivos_NumeroSerie] UNIQUE NONCLUSTERED 
(
	[NumeroSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DispositivosUsuarios] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispositivosUsuarios](
	[DispositivoId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[FechaAsociacion] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_DispositivosUsuarios] PRIMARY KEY CLUSTERED 
(
	[DispositivoId] ASC,
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EntregasGanadores] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregasGanadores](
	[EntregaId] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[NombreGanador] [nvarchar](150) NOT NULL,
	[ApellidoGanador] [nvarchar](150) NOT NULL,
	[NumeroContacto] [nvarchar](30) NOT NULL,
	[LugarGano] [nvarchar](255) NOT NULL,
	[NombreVendedor] [nvarchar](200) NOT NULL,
	[ValorTotalGanado] [decimal](18, 2) NOT NULL,
	[PersonaQueEntrega] [uniqueidentifier] NOT NULL,
	[FechaEntrega] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EntregasGanadores] PRIMARY KEY CLUSTERED 
(
	[EntregaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EntregasGanadores_CasoId] UNIQUE NONCLUSTERED 
(
	[CasoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadosBoleto] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosBoleto](
	[EstadoBoletoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_EstadosBoleto] PRIMARY KEY CLUSTERED 
(
	[EstadoBoletoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadosBoleto_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EvidenciasGanador] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvidenciasGanador](
	[EvidenciaId] [uniqueidentifier] NOT NULL,
	[EntregaId] [uniqueidentifier] NOT NULL,
	[TipoEvidencia] [nvarchar](30) NOT NULL,
	[RutaImagen] [nvarchar](500) NOT NULL,
	[FechaCaptura] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EvidenciasGanador] PRIMARY KEY CLUSTERED 
(
	[EvidenciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Grupos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[GrupoId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Grupos] PRIMARY KEY CLUSTERED 
(
	[GrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Grupos_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[IntentosFallidos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntentosFallidos](
	[IntentoId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[FechaIntento] [datetime2](7) NOT NULL,
	[Exitoso] [bit] NOT NULL,
 CONSTRAINT [PK_IntentosFallidos] PRIMARY KEY CLUSTERED 
(
	[IntentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[JuegoLoteria] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuegoLoteria](
	[JuegoId] [uniqueidentifier] NOT NULL,
	[LoteriaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_JuegoLoteria] PRIMARY KEY CLUSTERED 
(
	[JuegoId] ASC,
	[LoteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Juegos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juegos](
	[JuegoId] [uniqueidentifier] NOT NULL,
	[BoletoId] [uniqueidentifier] NOT NULL,
	[Numero] [char](4) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[TipoJuego] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Juegos] PRIMARY KEY CLUSTERED 
(
	[JuegoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LlavesAdministrador] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LlavesAdministrador](
	[LlaveId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Codigo] [nvarchar](32) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[ClavePublica] [nvarchar](4000) NOT NULL,
	[HuellaDispositivo] [nvarchar](128) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActivacion] [datetime2](7) NOT NULL,
	[FechaUltimoUso] [datetime2](7) NULL,
	[FechaRevocacion] [datetime2](7) NULL,
	[MotivoRevocacion] [nvarchar](200) NULL,
 CONSTRAINT [PK_LlavesAdministrador] PRIMARY KEY CLUSTERED 
(
	[LlaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LlavesAdministrador_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Loterias] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loterias](
	[LoteriaId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Tope] [decimal](18, 2) NOT NULL,
	[HoraInicio] [time](0) NOT NULL,
	[HoraFin] [time](0) NOT NULL,
 CONSTRAINT [PK_Loterias] PRIMARY KEY CLUSTERED 
(
	[LoteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Loterias_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LoteriasDiasSemana] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoteriasDiasSemana](
	[LoteriaId] [uniqueidentifier] NOT NULL,
	[DiaSemana] [tinyint] NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LoteriasDiasSemana] PRIMARY KEY CLUSTERED 
(
	[LoteriaId] ASC,
	[DiaSemana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Mensajes] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[MensajeId] [uniqueidentifier] NOT NULL,
	[ConversacionId] [uniqueidentifier] NOT NULL,
	[UsuarioEmisorId] [uniqueidentifier] NOT NULL,
	[Texto] [nvarchar](2000) NOT NULL,
	[FechaEnvio] [datetime2](7) NOT NULL,
	[Permanente] [bit] NOT NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[MensajeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Notificaciones] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[NotificacionId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[VentaId] [uniqueidentifier] NULL,
	[JuegoId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[NotificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[NumerosGanadores] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumerosGanadores](
	[NumeroGanadorId] [uniqueidentifier] NOT NULL,
	[LoteriaId] [uniqueidentifier] NOT NULL,
	[FechaJuego] [date] NOT NULL,
	[Numero] [char](4) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NumerosGanadores] PRIMARY KEY CLUSTERED 
(
	[NumeroGanadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NumerosGanadores_FechaLoteria] UNIQUE NONCLUSTERED 
(
	[FechaJuego] ASC,
	[LoteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[NumerosRestringidos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumerosRestringidos](
	[NumeroRestringidoId] [uniqueidentifier] NOT NULL,
	[Numero] [nvarchar](4) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NumerosRestringidos] PRIMARY KEY CLUSTERED 
(
	[NumeroRestringidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NumerosRestringidos_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Sesiones] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[SesionId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[DispositivoId] [uniqueidentifier] NULL,
	[Token] [nvarchar](500) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaExpiracion] [datetime2](7) NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[SesionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Sincronizaciones] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sincronizaciones](
	[SincronizacionId] [uniqueidentifier] NOT NULL,
	[DispositivoId] [uniqueidentifier] NOT NULL,
	[FechaSincronizacion] [datetime2](7) NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Resultado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Sincronizaciones] PRIMARY KEY CLUSTERED 
(
	[SincronizacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[NombreCompleto] [nvarchar](200) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Alias] [nvarchar](50) NULL,
	[Documento] [nvarchar](20) NULL,
	[Celular] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[PasswordSalt] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[EstadoValidado] [bit] NOT NULL,
	[EstadoBloqueado] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaUltimoAcceso] [datetime2](7) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Documento] UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuariosGrupos] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosGrupos](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[GrupoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UsuariosGrupos] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[GrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuariosRoles] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosRoles] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ventas] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[DispositivoId] [uniqueidentifier] NULL,
	[FechaVenta] [datetime2](7) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TipoApuesta] [nvarchar](20) NOT NULL,
	[EstadoSincronizacion] [nvarchar](20) NULL,
	[IdempotencyKey] [nvarchar](100) NULL,
	[FechaSincronizacion] [datetime2](7) NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VersionesAplicacion] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VersionesAplicacion](
	[VersionAplicacionId] [uniqueidentifier] NOT NULL,
	[NumeroCompilacion] [int] NOT NULL,
	[NombreVersion] [nvarchar](20) NOT NULL,
	[NombreArchivo] [nvarchar](32) NOT NULL,
	[TamanoBytes] [bigint] NOT NULL,
	[FechaPublicacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VersionesAplicacion] PRIMARY KEY CLUSTERED 
(
	[VersionAplicacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VersionesAplicacion_Compilacion] UNIQUE NONCLUSTERED 
(
	[NumeroCompilacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_AdjuntosChat_MensajeId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AdjuntosChat_MensajeId] ON [dbo].[AdjuntosChat]
(
	[MensajeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Boletos_EstadoBoleto] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Boletos_EstadoBoleto] ON [dbo].[Boletos]
(
	[EstadoBoleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Boletos_VentaId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Boletos_VentaId] ON [dbo].[Boletos]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_CasosGanadores_Estado] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CasosGanadores_Estado] ON [dbo].[CasosGanadores]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_CasosGanadores_FechaReporte] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CasosGanadores_FechaReporte] ON [dbo].[CasosGanadores]
(
	[FechaReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_CodigosPreventaOffline_Estado_Usuario_Dispositivo] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CodigosPreventaOffline_Estado_Usuario_Dispositivo] ON [dbo].[CodigosPreventaOffline]
(
	[EstadoDelCodigo] ASC,
	[UsuarioId] ASC,
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_CodigosPreventaOffline_VentaId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CodigosPreventaOffline_VentaId] ON [dbo].[CodigosPreventaOffline]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Conversaciones_Destino] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Conversaciones_Destino] ON [dbo].[Conversaciones]
(
	[UsuarioDestinoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Conversaciones_Iniciador] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Conversaciones_Iniciador] ON [dbo].[Conversaciones]
(
	[UsuarioIniciadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_EvidenciasGanador_EntregaId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EvidenciasGanador_EntregaId] ON [dbo].[EvidenciasGanador]
(
	[EntregaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_IntentosFallidos_UsuarioId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_IntentosFallidos_UsuarioId] ON [dbo].[IntentosFallidos]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Juegos_BoletoId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Juegos_BoletoId] ON [dbo].[Juegos]
(
	[BoletoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Juegos_Numero] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Juegos_Numero] ON [dbo].[Juegos]
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Mensajes_ConversacionId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_ConversacionId] ON [dbo].[Mensajes]
(
	[ConversacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Notificaciones_UsuarioId_Leida] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Notificaciones_UsuarioId_Leida] ON [dbo].[Notificaciones]
(
	[UsuarioId] ASC,
	[Leida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Sesiones_Token] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sesiones_Token] ON [dbo].[Sesiones]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Sesiones_UsuarioId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sesiones_UsuarioId] ON [dbo].[Sesiones]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Sincronizaciones_DispositivoId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sincronizaciones_DispositivoId] ON [dbo].[Sincronizaciones]
(
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Ventas_FechaVenta_UsuarioId] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_FechaVenta_UsuarioId] ON [dbo].[Ventas]
(
	[FechaVenta] ASC,
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Ventas_IdempotencyKey] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_IdempotencyKey] ON [dbo].[Ventas]
(
	[IdempotencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdjuntosChat] ADD  DEFAULT (newid()) FOR [AdjuntoId]
GO
ALTER TABLE [dbo].[AdjuntosChat] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[Boletos] ADD  DEFAULT (newid()) FOR [BoletoId]
GO
ALTER TABLE [dbo].[Boletos] ADD  DEFAULT ('Jugado') FOR [EstadoBoleto]
GO
ALTER TABLE [dbo].[Boletos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Boletos] ADD  DEFAULT ((30)) FOR [VigenciaDias]
GO
ALTER TABLE [dbo].[Boletos] ADD  CONSTRAINT [DF_Boletos_QrCifrado]  DEFAULT ('') FOR [QrCifrado]
GO
ALTER TABLE [dbo].[CasosGanadores] ADD  DEFAULT (newid()) FOR [CasoId]
GO
ALTER TABLE [dbo].[CasosGanadores] ADD  DEFAULT ('Reportado') FOR [Estado]
GO
ALTER TABLE [dbo].[CasosGanadores] ADD  DEFAULT (sysutcdatetime()) FOR [FechaReporte]
GO
ALTER TABLE [dbo].[ClavesValidacionBoleto] ADD  DEFAULT (newid()) FOR [ClaveId]
GO
ALTER TABLE [dbo].[ClavesValidacionBoleto] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[ClavesValidacionBoleto] ADD  DEFAULT (newid()) FOR [IdentificadorClave]
GO
ALTER TABLE [dbo].[ClavesValidacionBoleto] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] ADD  DEFAULT (newid()) FOR [CodigoId]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] ADD  DEFAULT ('Generado') FOR [EstadoDelCodigo]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  DEFAULT (newid()) FOR [ConfiguracionId]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[ConfiguracionesTipoApuesta] ADD  DEFAULT (newid()) FOR [ConfiguracionTipoApuestaId]
GO
ALTER TABLE [dbo].[ConfiguracionesTipoApuesta] ADD  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Conversaciones] ADD  DEFAULT (newid()) FOR [ConversacionId]
GO
ALTER TABLE [dbo].[Conversaciones] ADD  DEFAULT (sysutcdatetime()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Conversaciones] ADD  DEFAULT ('Abierta') FOR [Estado]
GO
ALTER TABLE [dbo].[Conversaciones] ADD  CONSTRAINT [DF_Conversaciones_Tipo]  DEFAULT (N'AtencionCliente') FOR [Tipo]
GO
ALTER TABLE [dbo].[Dispositivos] ADD  DEFAULT (newid()) FOR [DispositivoId]
GO
ALTER TABLE [dbo].[Dispositivos] ADD  DEFAULT ('Vendedor') FOR [Tipo]
GO
ALTER TABLE [dbo].[Dispositivos] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Dispositivos] ADD  DEFAULT ((3000)) FOR [CapacidadCodigosOffline]
GO
ALTER TABLE [dbo].[Dispositivos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DispositivosUsuarios] ADD  DEFAULT (sysutcdatetime()) FOR [FechaAsociacion]
GO
ALTER TABLE [dbo].[DispositivosUsuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[EntregasGanadores] ADD  DEFAULT (newid()) FOR [EntregaId]
GO
ALTER TABLE [dbo].[EntregasGanadores] ADD  DEFAULT (sysutcdatetime()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[EvidenciasGanador] ADD  DEFAULT (newid()) FOR [EvidenciaId]
GO
ALTER TABLE [dbo].[EvidenciasGanador] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCaptura]
GO
ALTER TABLE [dbo].[Grupos] ADD  DEFAULT (newid()) FOR [GrupoId]
GO
ALTER TABLE [dbo].[Grupos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[IntentosFallidos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaIntento]
GO
ALTER TABLE [dbo].[IntentosFallidos] ADD  DEFAULT ((0)) FOR [Exitoso]
GO
ALTER TABLE [dbo].[Juegos] ADD  DEFAULT (newid()) FOR [JuegoId]
GO
ALTER TABLE [dbo].[LlavesAdministrador] ADD  DEFAULT (newid()) FOR [LlaveId]
GO
ALTER TABLE [dbo].[LlavesAdministrador] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Loterias] ADD  DEFAULT (newid()) FOR [LoteriaId]
GO
ALTER TABLE [dbo].[Loterias] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Loterias] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Loterias] ADD  CONSTRAINT [DF_Loterias_Tope]  DEFAULT ((1000)) FOR [Tope]
GO
ALTER TABLE [dbo].[Loterias] ADD  CONSTRAINT [DF_Loterias_HoraInicio]  DEFAULT ('10:00:00') FOR [HoraInicio]
GO
ALTER TABLE [dbo].[Loterias] ADD  CONSTRAINT [DF_Loterias_HoraFin]  DEFAULT ('13:00:00') FOR [HoraFin]
GO
ALTER TABLE [dbo].[LoteriasDiasSemana] ADD  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (newid()) FOR [MensajeId]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (sysutcdatetime()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT ((0)) FOR [Permanente]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (newid()) FOR [NotificacionId]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[NumerosGanadores] ADD  DEFAULT (newid()) FOR [NumeroGanadorId]
GO
ALTER TABLE [dbo].[NumerosGanadores] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[NumerosRestringidos] ADD  DEFAULT (newid()) FOR [NumeroRestringidoId]
GO
ALTER TABLE [dbo].[NumerosRestringidos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT (newid()) FOR [SesionId]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT (sysutcdatetime()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Sincronizaciones] ADD  DEFAULT (newid()) FOR [SincronizacionId]
GO
ALTER TABLE [dbo].[Sincronizaciones] ADD  DEFAULT (sysutcdatetime()) FOR [FechaSincronizacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newid()) FOR [UsuarioId]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Vendedor') FOR [Rol]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [EstadoValidado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [EstadoBloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (newid()) FOR [VentaId]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (sysutcdatetime()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[VersionesAplicacion] ADD  DEFAULT (newid()) FOR [VersionAplicacionId]
GO
ALTER TABLE [dbo].[VersionesAplicacion] ADD  DEFAULT (sysutcdatetime()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[AdjuntosChat]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntosChat_Mensajes] FOREIGN KEY([MensajeId])
REFERENCES [dbo].[Mensajes] ([MensajeId])
GO
ALTER TABLE [dbo].[AdjuntosChat] CHECK CONSTRAINT [FK_AdjuntosChat_Mensajes]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FK_Boletos_CasosGanadores] FOREIGN KEY([CasoGanadorId])
REFERENCES [dbo].[CasosGanadores] ([CasoId])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FK_Boletos_CasosGanadores]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FK_Boletos_Ventas] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FK_Boletos_Ventas]
GO
ALTER TABLE [dbo].[CasosGanadores]  WITH CHECK ADD  CONSTRAINT [FK_CasosGanadores_AdminAsigno] FOREIGN KEY([AdminQueAsigno])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CasosGanadores] CHECK CONSTRAINT [FK_CasosGanadores_AdminAsigno]
GO
ALTER TABLE [dbo].[CasosGanadores]  WITH CHECK ADD  CONSTRAINT [FK_CasosGanadores_AdminValido] FOREIGN KEY([AdminQueValido])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CasosGanadores] CHECK CONSTRAINT [FK_CasosGanadores_AdminValido]
GO
ALTER TABLE [dbo].[CasosGanadores]  WITH CHECK ADD  CONSTRAINT [FK_CasosGanadores_Boletos] FOREIGN KEY([BoletoId])
REFERENCES [dbo].[Boletos] ([BoletoId])
GO
ALTER TABLE [dbo].[CasosGanadores] CHECK CONSTRAINT [FK_CasosGanadores_Boletos]
GO
ALTER TABLE [dbo].[CasosGanadores]  WITH CHECK ADD  CONSTRAINT [FK_CasosGanadores_Observador] FOREIGN KEY([ObservadorAsignado])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CasosGanadores] CHECK CONSTRAINT [FK_CasosGanadores_Observador]
GO
ALTER TABLE [dbo].[CasosGanadores]  WITH CHECK ADD  CONSTRAINT [FK_CasosGanadores_Vendedor] FOREIGN KEY([VendedorQueReporto])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CasosGanadores] CHECK CONSTRAINT [FK_CasosGanadores_Vendedor]
GO
ALTER TABLE [dbo].[ClavesValidacionBoleto]  WITH CHECK ADD  CONSTRAINT [FK_ClavesValidacionBoleto_Boletos] FOREIGN KEY([BoletoId])
REFERENCES [dbo].[Boletos] ([BoletoId])
GO
ALTER TABLE [dbo].[ClavesValidacionBoleto] CHECK CONSTRAINT [FK_ClavesValidacionBoleto_Boletos]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline]  WITH CHECK ADD  CONSTRAINT [FK_CodigosPreventaOffline_Admin] FOREIGN KEY([AdminQueRegistro])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] CHECK CONSTRAINT [FK_CodigosPreventaOffline_Admin]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline]  WITH CHECK ADD  CONSTRAINT [FK_CodigosPreventaOffline_Dispositivos] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([DispositivoId])
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] CHECK CONSTRAINT [FK_CodigosPreventaOffline_Dispositivos]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline]  WITH CHECK ADD  CONSTRAINT [FK_CodigosPreventaOffline_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] CHECK CONSTRAINT [FK_CodigosPreventaOffline_Usuarios]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline]  WITH CHECK ADD  CONSTRAINT [FK_CodigosPreventaOffline_Ventas] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] CHECK CONSTRAINT [FK_CodigosPreventaOffline_Ventas]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [FK_Conversaciones_Destino] FOREIGN KEY([UsuarioDestinoId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [FK_Conversaciones_Destino]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [FK_Conversaciones_Iniciador] FOREIGN KEY([UsuarioIniciadorId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [FK_Conversaciones_Iniciador]
GO
ALTER TABLE [dbo].[DispositivosUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_DispositivosUsuarios_Dispositivos] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([DispositivoId])
GO
ALTER TABLE [dbo].[DispositivosUsuarios] CHECK CONSTRAINT [FK_DispositivosUsuarios_Dispositivos]
GO
ALTER TABLE [dbo].[DispositivosUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_DispositivosUsuarios_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[DispositivosUsuarios] CHECK CONSTRAINT [FK_DispositivosUsuarios_Usuarios]
GO
ALTER TABLE [dbo].[EntregasGanadores]  WITH CHECK ADD  CONSTRAINT [FK_EntregasGanadores_Casos] FOREIGN KEY([CasoId])
REFERENCES [dbo].[CasosGanadores] ([CasoId])
GO
ALTER TABLE [dbo].[EntregasGanadores] CHECK CONSTRAINT [FK_EntregasGanadores_Casos]
GO
ALTER TABLE [dbo].[EntregasGanadores]  WITH CHECK ADD  CONSTRAINT [FK_EntregasGanadores_Usuarios] FOREIGN KEY([PersonaQueEntrega])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[EntregasGanadores] CHECK CONSTRAINT [FK_EntregasGanadores_Usuarios]
GO
ALTER TABLE [dbo].[EvidenciasGanador]  WITH CHECK ADD  CONSTRAINT [FK_EvidenciasGanador_Entregas] FOREIGN KEY([EntregaId])
REFERENCES [dbo].[EntregasGanadores] ([EntregaId])
GO
ALTER TABLE [dbo].[EvidenciasGanador] CHECK CONSTRAINT [FK_EvidenciasGanador_Entregas]
GO
ALTER TABLE [dbo].[IntentosFallidos]  WITH CHECK ADD  CONSTRAINT [FK_IntentosFallidos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[IntentosFallidos] CHECK CONSTRAINT [FK_IntentosFallidos_Usuarios]
GO
ALTER TABLE [dbo].[JuegoLoteria]  WITH CHECK ADD  CONSTRAINT [FK_JuegoLoteria_Juegos] FOREIGN KEY([JuegoId])
REFERENCES [dbo].[Juegos] ([JuegoId])
GO
ALTER TABLE [dbo].[JuegoLoteria] CHECK CONSTRAINT [FK_JuegoLoteria_Juegos]
GO
ALTER TABLE [dbo].[JuegoLoteria]  WITH CHECK ADD  CONSTRAINT [FK_JuegoLoteria_Loterias] FOREIGN KEY([LoteriaId])
REFERENCES [dbo].[Loterias] ([LoteriaId])
GO
ALTER TABLE [dbo].[JuegoLoteria] CHECK CONSTRAINT [FK_JuegoLoteria_Loterias]
GO
ALTER TABLE [dbo].[Juegos]  WITH CHECK ADD  CONSTRAINT [FK_Juegos_Boletos] FOREIGN KEY([BoletoId])
REFERENCES [dbo].[Boletos] ([BoletoId])
GO
ALTER TABLE [dbo].[Juegos] CHECK CONSTRAINT [FK_Juegos_Boletos]
GO
ALTER TABLE [dbo].[LlavesAdministrador]  WITH CHECK ADD  CONSTRAINT [FK_LlavesAdministrador_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[LlavesAdministrador] CHECK CONSTRAINT [FK_LlavesAdministrador_Usuarios]
GO
ALTER TABLE [dbo].[LoteriasDiasSemana]  WITH CHECK ADD  CONSTRAINT [FK_LoteriasDiasSemana_Loterias] FOREIGN KEY([LoteriaId])
REFERENCES [dbo].[Loterias] ([LoteriaId])
GO
ALTER TABLE [dbo].[LoteriasDiasSemana] CHECK CONSTRAINT [FK_LoteriasDiasSemana_Loterias]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Conversaciones] FOREIGN KEY([ConversacionId])
REFERENCES [dbo].[Conversaciones] ([ConversacionId])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Conversaciones]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Usuarios] FOREIGN KEY([UsuarioEmisorId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Usuarios]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuarios]
GO
ALTER TABLE [dbo].[NumerosGanadores]  WITH CHECK ADD  CONSTRAINT [FK_NumerosGanadores_Loterias] FOREIGN KEY([LoteriaId])
REFERENCES [dbo].[Loterias] ([LoteriaId])
GO
ALTER TABLE [dbo].[NumerosGanadores] CHECK CONSTRAINT [FK_NumerosGanadores_Loterias]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Dispositivos] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([DispositivoId])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Dispositivos]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Usuarios]
GO
ALTER TABLE [dbo].[Sincronizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Sincronizaciones_Dispositivos] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([DispositivoId])
GO
ALTER TABLE [dbo].[Sincronizaciones] CHECK CONSTRAINT [FK_Sincronizaciones_Dispositivos]
GO
ALTER TABLE [dbo].[UsuariosGrupos]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosGrupos_Grupos] FOREIGN KEY([GrupoId])
REFERENCES [dbo].[Grupos] ([GrupoId])
GO
ALTER TABLE [dbo].[UsuariosGrupos] CHECK CONSTRAINT [FK_UsuariosGrupos_Grupos]
GO
ALTER TABLE [dbo].[UsuariosGrupos]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosGrupos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[UsuariosGrupos] CHECK CONSTRAINT [FK_UsuariosGrupos_Usuarios]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Roles]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Usuarios]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Dispositivos] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([DispositivoId])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Dispositivos]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [CK_Boletos_EstadoBoleto] CHECK  (([EstadoBoleto]='Premio entregado' OR [EstadoBoleto]='Pagado/cobrado' OR [EstadoBoleto]='Vencido' OR [EstadoBoleto]='No ganador' OR [EstadoBoleto]='Ganador' OR [EstadoBoleto]='Jugado' OR [EstadoBoleto]='Por jugar'))
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [CK_Boletos_EstadoBoleto]
GO
ALTER TABLE [dbo].[CasosGanadores]  WITH CHECK ADD  CONSTRAINT [CK_CasosGanadores_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Registrado' OR [Estado]='EnProceso' OR [Estado]='Asignado' OR [Estado]='Validado' OR [Estado]='Reportado'))
GO
ALTER TABLE [dbo].[CasosGanadores] CHECK CONSTRAINT [CK_CasosGanadores_Estado]
GO
ALTER TABLE [dbo].[CodigosPreventaOffline]  WITH CHECK ADD  CONSTRAINT [CK_CodigosPreventaOffline_Estado] CHECK  (([EstadoDelCodigo]='Registrado' OR [EstadoDelCodigo]='Utilizado' OR [EstadoDelCodigo]='Descargado' OR [EstadoDelCodigo]='Generado'))
GO
ALTER TABLE [dbo].[CodigosPreventaOffline] CHECK CONSTRAINT [CK_CodigosPreventaOffline_Estado]
GO
ALTER TABLE [dbo].[ConfiguracionesTipoApuesta]  WITH CHECK ADD  CONSTRAINT [CK_ConfiguracionesTipoApuesta_Maximo] CHECK  (([Maximo]>(0)))
GO
ALTER TABLE [dbo].[ConfiguracionesTipoApuesta] CHECK CONSTRAINT [CK_ConfiguracionesTipoApuesta_Maximo]
GO
ALTER TABLE [dbo].[ConfiguracionesTipoApuesta]  WITH CHECK ADD  CONSTRAINT [CK_ConfiguracionesTipoApuesta_Tipo] CHECK  (([TipoApuesta]='INDIVIDUAL' OR [TipoApuesta]='COMBINADO'))
GO
ALTER TABLE [dbo].[ConfiguracionesTipoApuesta] CHECK CONSTRAINT [CK_ConfiguracionesTipoApuesta_Tipo]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [CK_Conversaciones_Estado] CHECK  (([Estado]='Cerrada' OR [Estado]='Abierta'))
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [CK_Conversaciones_Estado]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [CK_Conversaciones_Tipo] CHECK  (([Tipo]=N'SoporteTecnico' OR [Tipo]=N'AtencionCliente'))
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [CK_Conversaciones_Tipo]
GO
ALTER TABLE [dbo].[Dispositivos]  WITH CHECK ADD  CONSTRAINT [CK_Dispositivos_Capacidad] CHECK  (([CapacidadCodigosOffline]>=(1)))
GO
ALTER TABLE [dbo].[Dispositivos] CHECK CONSTRAINT [CK_Dispositivos_Capacidad]
GO
ALTER TABLE [dbo].[Dispositivos]  WITH CHECK ADD  CONSTRAINT [CK_Dispositivos_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Dispositivos] CHECK CONSTRAINT [CK_Dispositivos_Estado]
GO
ALTER TABLE [dbo].[Dispositivos]  WITH CHECK ADD  CONSTRAINT [CK_Dispositivos_Tipo] CHECK  (([Tipo]='Observador' OR [Tipo]='Vendedor'))
GO
ALTER TABLE [dbo].[Dispositivos] CHECK CONSTRAINT [CK_Dispositivos_Tipo]
GO
ALTER TABLE [dbo].[EvidenciasGanador]  WITH CHECK ADD  CONSTRAINT [CK_EvidenciasGanador_Tipo] CHECK  (([TipoEvidencia]='CedulaReverso' OR [TipoEvidencia]='CedulaIdentidad' OR [TipoEvidencia]='GanadorConTicket' OR [TipoEvidencia]='TicketConQR'))
GO
ALTER TABLE [dbo].[EvidenciasGanador] CHECK CONSTRAINT [CK_EvidenciasGanador_Tipo]
GO
ALTER TABLE [dbo].[Juegos]  WITH CHECK ADD  CONSTRAINT [CK_Juegos_TipoJuego] CHECK  (([TipoJuego]='INDIVIDUAL' OR [TipoJuego]='COMBINADA'))
GO
ALTER TABLE [dbo].[Juegos] CHECK CONSTRAINT [CK_Juegos_TipoJuego]
GO
ALTER TABLE [dbo].[LlavesAdministrador]  WITH CHECK ADD  CONSTRAINT [CK_LlavesAdministrador_Estado] CHECK  (([Estado]=N'Comprometida' OR [Estado]=N'Revocada' OR [Estado]=N'Activa'))
GO
ALTER TABLE [dbo].[LlavesAdministrador] CHECK CONSTRAINT [CK_LlavesAdministrador_Estado]
GO
ALTER TABLE [dbo].[Loterias]  WITH CHECK ADD  CONSTRAINT [CK_Loterias_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Loterias] CHECK CONSTRAINT [CK_Loterias_Estado]
GO
ALTER TABLE [dbo].[LoteriasDiasSemana]  WITH CHECK ADD  CONSTRAINT [CK_LoteriasDiasSemana_Dia] CHECK  (([DiaSemana]>=(1) AND [DiaSemana]<=(7)))
GO
ALTER TABLE [dbo].[LoteriasDiasSemana] CHECK CONSTRAINT [CK_LoteriasDiasSemana_Dia]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Estado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Rol] CHECK  (([Rol]=N'Super' OR [Rol]=N'Observador' OR [Rol]=N'Vendedor' OR [Rol]=N'Administrador'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_TipoApuesta] CHECK  (([TipoApuesta]='INDIVIDUAL' OR [TipoApuesta]='COMBINADO'))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_TipoApuesta]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CambiarGrupoVendedor] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_CambiarGrupoVendedor]
    @UsuarioId  UNIQUEIDENTIFIER,
    @NuevoGrupoId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Eliminar grupo anterior
        DELETE FROM dbo.UsuariosGrupos WHERE UsuarioId = @UsuarioId;

        -- Asignar nuevo grupo
        INSERT INTO dbo.UsuariosGrupos (UsuarioId, GrupoId)
        VALUES (@UsuarioId, @NuevoGrupoId);

        COMMIT TRANSACTION;
        PRINT 'Grupo del vendedor actualizado correctamente.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ConfirmarVenta] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_ConfirmarVenta]
    @UsuarioId             UNIQUEIDENTIFIER,
    @DispositivoId         UNIQUEIDENTIFIER,
    @TipoApuesta           NVARCHAR(20),
    @Total                 DECIMAL(18,2),
    @IdempotencyKey        NVARCHAR(100),
    @Numero                CHAR(4),
    @Valor                 DECIMAL(18,2),
    @Loterias              NVARCHAR(MAX),  -- Lista separada por coma de LoteriaId
    @FechaVenta            DATETIME2,
    @VentaId               UNIQUEIDENTIFIER OUTPUT,
    @BoletoId              UNIQUEIDENTIFIER OUTPUT,
    @CodigoPublico         CHAR(7) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Control de duplicidad (RS-084): si ya existe venta con esta IdempotencyKey, devolver la existente
        IF EXISTS (SELECT 1 FROM dbo.Ventas WHERE IdempotencyKey = @IdempotencyKey)
        BEGIN
            SELECT TOP 1 @VentaId = V.VentaId, @BoletoId = B.BoletoId, @CodigoPublico = B.CodigoPublico
            FROM dbo.Ventas V
            INNER JOIN dbo.Boletos B ON B.VentaId = V.VentaId
            WHERE V.IdempotencyKey = @IdempotencyKey;

            COMMIT TRANSACTION;
            RETURN 0; -- Respuesta idempotente
        END

        -- Generar codigo publico unico de 7 digitos con reintento ante colision
        DECLARE @NuevoCodigo CHAR(7);
        DECLARE @Intentos INT = 0;
        DECLARE @CodigoGenerado BIT = 0;

        WHILE @CodigoGenerado = 0 AND @Intentos < 10
        BEGIN
            SET @NuevoCodigo = RIGHT('0000000' + CAST(CAST(RAND() * 10000000 AS INT) AS VARCHAR(7)), 7);

            IF NOT EXISTS (SELECT 1 FROM dbo.Boletos WHERE CodigoPublico = @NuevoCodigo)
            BEGIN
                SET @CodigoGenerado = 1;
            END
            SET @Intentos = @Intentos + 1;
        END

        IF @CodigoGenerado = 0
        BEGIN
            RAISERROR(N'No se pudo generar un codigo publico unico despues de 10 intentos.', 16, 1);
        END

        -- Insertar venta
        SET @VentaId = NEWID();
        INSERT INTO dbo.Ventas (VentaId, UsuarioId, DispositivoId, FechaVenta, Total, TipoApuesta, EstadoSincronizacion, IdempotencyKey)
        VALUES (@VentaId, @UsuarioId, @DispositivoId, @FechaVenta, @Total, @TipoApuesta, 'Online', @IdempotencyKey);

        -- Insertar boleto
        SET @BoletoId = NEWID();
        INSERT INTO dbo.Boletos (BoletoId, VentaId, CodigoPublico, ClaveValidacionHash, EstadoBoleto, VigenciaDias)
        VALUES (@BoletoId, @VentaId, @NuevoCodigo, '', 'Jugado', 30);

        -- Insertar juego
        DECLARE @JuegoId UNIQUEIDENTIFIER = NEWID();
        INSERT INTO dbo.Juegos (JuegoId, BoletoId, Numero, Valor, TipoJuego)
        VALUES (@JuegoId, @BoletoId, @Numero, @Valor, CASE WHEN @TipoApuesta = 'COMBINADO' THEN 'COMBINADA' ELSE 'INDIVIDUAL' END);

        -- Insertar relaciones juego-loteria
        INSERT INTO dbo.JuegoLoteria (JuegoId, LoteriaId)
        SELECT @JuegoId, CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@Loterias, ',');

        SET @CodigoPublico = @NuevoCodigo;

        COMMIT TRANSACTION;
        PRINT 'Venta confirmada correctamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_DesbloquearUsuario] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_DesbloquearUsuario]
    @UsuarioId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Usuarios
    SET EstadoBloqueado = 0,
        EstadoValidado = 1,          -- Exige cambio de contrasena
        IntentosFallidos = 0
    WHERE UsuarioId = @UsuarioId;

    -- Cerrar todas las sesiones abiertas del usuario
    UPDATE dbo.Sesiones
    SET Activa = 0
    WHERE UsuarioId = @UsuarioId AND Activa = 1;

    PRINT 'Usuario desbloqueado correctamente.';
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarUsuario] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @UsuarioId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Eliminar en orden de dependencias
        -- 1. EvidenciasGanador (via EntregasGanadores -> CasosGanadores)
        DELETE EG FROM dbo.EvidenciasGanador EG
        INNER JOIN dbo.EntregasGanadores E ON E.EntregaId = EG.EntregaId
        INNER JOIN dbo.CasosGanadores CG ON CG.CasoId = E.CasoId
        WHERE CG.VendedorQueReporto = @UsuarioId
           OR CG.AdminQueValido = @UsuarioId
           OR CG.AdminQueAsigno = @UsuarioId
           OR CG.ObservadorAsignado = @UsuarioId;

        -- 2. EntregasGanadores
        DELETE E FROM dbo.EntregasGanadores E
        INNER JOIN dbo.CasosGanadores CG ON CG.CasoId = E.CasoId
        WHERE CG.VendedorQueReporto = @UsuarioId
           OR CG.AdminQueValido = @UsuarioId
           OR CG.AdminQueAsigno = @UsuarioId
           OR CG.ObservadorAsignado = @UsuarioId;

        -- 3. CasosGanadores (como admin/vendedor/observador)
        DELETE FROM dbo.CasosGanadores
        WHERE VendedorQueReporto = @UsuarioId
           OR AdminQueValido = @UsuarioId
           OR AdminQueAsigno = @UsuarioId
           OR ObservadorAsignado = @UsuarioId;

        -- 4. AdjuntosChat (via Mensajes -> Conversaciones)
        DELETE AC FROM dbo.AdjuntosChat AC
        INNER JOIN dbo.Mensajes M ON M.MensajeId = AC.MensajeId
        INNER JOIN dbo.Conversaciones C ON C.ConversacionId = M.ConversacionId
        WHERE C.UsuarioIniciadorId = @UsuarioId OR C.UsuarioDestinoId = @UsuarioId;

        -- 5. Mensajes (directos del usuario o en sus conversaciones)
        DELETE M FROM dbo.Mensajes M
        INNER JOIN dbo.Conversaciones C ON C.ConversacionId = M.ConversacionId
        WHERE C.UsuarioIniciadorId = @UsuarioId OR C.UsuarioDestinoId = @UsuarioId;

        -- 6. Conversaciones
        DELETE FROM dbo.Conversaciones
        WHERE UsuarioIniciadorId = @UsuarioId OR UsuarioDestinoId = @UsuarioId;

        -- 7. JuegoLoteria (via Juegos -> Boletos -> Ventas)
        DELETE JL FROM dbo.JuegoLoteria JL
        INNER JOIN dbo.Juegos J ON J.JuegoId = JL.JuegoId
        INNER JOIN dbo.Boletos B ON B.BoletoId = J.BoletoId
        INNER JOIN dbo.Ventas V ON V.VentaId = B.VentaId
        WHERE V.UsuarioId = @UsuarioId;

        -- 8. Juegos
        DELETE J FROM dbo.Juegos J
        INNER JOIN dbo.Boletos B ON B.BoletoId = J.BoletoId
        INNER JOIN dbo.Ventas V ON V.VentaId = B.VentaId
        WHERE V.UsuarioId = @UsuarioId;

        -- 9. ClavesValidacionBoleto
        DELETE CV FROM dbo.ClavesValidacionBoleto CV
        INNER JOIN dbo.Boletos B ON B.BoletoId = CV.BoletoId
        INNER JOIN dbo.Ventas V ON V.VentaId = B.VentaId
        WHERE V.UsuarioId = @UsuarioId;

        -- 10. Boletos
        DELETE B FROM dbo.Boletos B
        INNER JOIN dbo.Ventas V ON V.VentaId = B.VentaId
        WHERE V.UsuarioId = @UsuarioId;

        -- 11. CodigosPreventaOffline
        DELETE FROM dbo.CodigosPreventaOffline
        WHERE UsuarioId = @UsuarioId OR AdminQueRegistro = @UsuarioId;

        -- 12. Notificaciones
        DELETE FROM dbo.Notificaciones WHERE UsuarioId = @UsuarioId;

        -- 13. Ventas
        DELETE FROM dbo.Ventas WHERE UsuarioId = @UsuarioId;

        -- 14. UsuariosGrupos
        DELETE FROM dbo.UsuariosGrupos WHERE UsuarioId = @UsuarioId;

        -- 15. DispositivosUsuarios
        DELETE FROM dbo.DispositivosUsuarios WHERE UsuarioId = @UsuarioId;

        -- 16. Sesiones
        DELETE FROM dbo.Sesiones WHERE UsuarioId = @UsuarioId;

        -- 17. IntentosFallidos
        DELETE FROM dbo.IntentosFallidos WHERE UsuarioId = @UsuarioId;

        -- 18. UsuariosRoles
        DELETE FROM dbo.UsuariosRoles WHERE UsuarioId = @UsuarioId;

        -- 19. Usuario
        DELETE FROM dbo.Usuarios WHERE UsuarioId = @UsuarioId;

        COMMIT TRANSACTION;
        PRINT 'Usuario eliminado en cascada correctamente.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_GenerarCodigosOffline] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_GenerarCodigosOffline]
    @UsuarioId      UNIQUEIDENTIFIER,
    @DispositivoId  UNIQUEIDENTIFIER,
    @Cantidad       INT,
    @AdminId        UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        IF @Cantidad <= 0 OR @Cantidad > 5000
        BEGIN
            RAISERROR(N'Cantidad invalida. Debe ser entre 1 y 5000.', 16, 1);
            RETURN 1;
        END

        BEGIN TRANSACTION;

        DECLARE @Iteracion INT = 0;
        DECLARE @UltimoConsecutivo INT;
        DECLARE @NuevoConsecutivo NVARCHAR(30);

        -- Obtener el ultimo consecutivo para generar el siguiente
        SELECT @UltimoConsecutivo = ISNULL(MAX(CAST(SUBSTRING(ConsecutivoUnico, 4, LEN(ConsecutivoUnico)) AS INT)), 0)
        FROM dbo.CodigosPreventaOffline;

        WHILE @Iteracion < @Cantidad
        BEGIN
            SET @Iteracion = @Iteracion + 1;
            SET @UltimoConsecutivo = @UltimoConsecutivo + 1;
            SET @NuevoConsecutivo = 'NR-' + RIGHT('000000' + CAST(@UltimoConsecutivo AS VARCHAR(6)), 6);

            INSERT INTO dbo.CodigosPreventaOffline (ConsecutivoUnico, UsuarioId, DispositivoId, PayloadCifrado, EstadoDelCodigo)
            VALUES (@NuevoConsecutivo, @UsuarioId, @DispositivoId, 0x00, 'Generado');
        END

        COMMIT TRANSACTION;
        PRINT CAST(@Cantidad AS VARCHAR(10)) + N' codigos offline generados correctamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarCodigoOffline] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_RegistrarCodigoOffline]
    @ConsecutivoUnico NVARCHAR(30),
    @AdminQueRegistro UNIQUEIDENTIFIER,
    @FechaVentaOffline DATETIME2,
    @Total             DECIMAL(18,2),
    @TipoApuesta       NVARCHAR(20),
    @Numero            CHAR(4),
    @Valor             DECIMAL(18,2),
    @Loterias          NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @CodigoId       UNIQUEIDENTIFIER;
    DECLARE @UsuarioId      UNIQUEIDENTIFIER;
    DECLARE @DispositivoId  UNIQUEIDENTIFIER;
    DECLARE @EstadoActual   NVARCHAR(20);
    DECLARE @VentaId        UNIQUEIDENTIFIER;
    DECLARE @BoletoId       UNIQUEIDENTIFIER;
    DECLARE @CodigoPublico  CHAR(7);

    BEGIN TRY
        -- Validar si el codigo existe y su estado
        SELECT @CodigoId = CodigoId, @UsuarioId = UsuarioId, @DispositivoId = DispositivoId, @EstadoActual = EstadoDelCodigo
        FROM dbo.CodigosPreventaOffline
        WHERE ConsecutivoUnico = @ConsecutivoUnico;

        IF @CodigoId IS NULL
        BEGIN
            RAISERROR(N'El codigo offline no existe.', 16, 1);
            RETURN 1;
        END

        -- Prevencion de duplicidad (RS-096): si ya esta Registrado, rechazar
        IF @EstadoActual = 'Registrado'
        BEGIN
            RAISERROR(N'QR ya registrado. No se permite registrar el mismo codigo nuevamente.', 16, 1);
            RETURN 2;
        END

        BEGIN TRANSACTION;

        -- Generar codigo publico de 7 digitos
        DECLARE @Intentos INT = 0;
        DECLARE @CodigoGenerado BIT = 0;

        WHILE @CodigoGenerado = 0 AND @Intentos < 10
        BEGIN
            SET @CodigoPublico = RIGHT('0000000' + CAST(CAST(RAND() * 10000000 AS INT) AS VARCHAR(7)), 7);
            IF NOT EXISTS (SELECT 1 FROM dbo.Boletos WHERE CodigoPublico = @CodigoPublico)
                SET @CodigoGenerado = 1;
            SET @Intentos = @Intentos + 1;
        END

        -- Crear venta oficial
        SET @VentaId = NEWID();
        INSERT INTO dbo.Ventas (VentaId, UsuarioId, DispositivoId, FechaVenta, Total, TipoApuesta, EstadoSincronizacion)
        VALUES (@VentaId, @UsuarioId, @DispositivoId, @FechaVentaOffline, @Total, @TipoApuesta, 'OfflineRegistrado');

        -- Crear boleto oficial
        SET @BoletoId = NEWID();
        INSERT INTO dbo.Boletos (BoletoId, VentaId, CodigoPublico, ClaveValidacionHash, EstadoBoleto, VigenciaDias)
        VALUES (@BoletoId, @VentaId, @CodigoPublico, '', 'Jugado', 30);

        -- Crear juego
        DECLARE @JuegoId UNIQUEIDENTIFIER = NEWID();
        INSERT INTO dbo.Juegos (JuegoId, BoletoId, Numero, Valor, TipoJuego)
        VALUES (@JuegoId, @BoletoId, @Numero, @Valor, CASE WHEN @TipoApuesta = 'COMBINADO' THEN 'COMBINADA' ELSE 'INDIVIDUAL' END);

        -- Relaciones juego-loteria
        INSERT INTO dbo.JuegoLoteria (JuegoId, LoteriaId)
        SELECT @JuegoId, CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@Loterias, ',');

        -- Actualizar codigo a Registrado (RS-095)
        UPDATE dbo.CodigosPreventaOffline
        SET EstadoDelCodigo = 'Registrado',
            FechaRegistro = SYSUTCDATETIME(),
            AdminQueRegistro = @AdminQueRegistro,
            VentaId = @VentaId
        WHERE CodigoId = @CodigoId;

        COMMIT TRANSACTION;
        PRINT 'Codigo offline registrado correctamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarEntregaPremio] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_RegistrarEntregaPremio]
    @CasoId              UNIQUEIDENTIFIER,
    @NombreGanador       NVARCHAR(150),
    @ApellidoGanador     NVARCHAR(150),
    @NumeroContacto      NVARCHAR(30),
    @LugarGano           NVARCHAR(255),
    @ValorTotalGanado    DECIMAL(18,2),
    @PersonaQueEntrega   UNIQUEIDENTIFIER,
    @EntregaId           UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @BoletoId UNIQUEIDENTIFIER;
    DECLARE @EstadoCaso NVARCHAR(20);
    DECLARE @NombreVendedor NVARCHAR(200);

    BEGIN TRY
        -- Obtener datos del caso
        SELECT @BoletoId = CG.BoletoId,
               @EstadoCaso = CG.Estado,
               @NombreVendedor = U.NombreCompleto
        FROM dbo.CasosGanadores CG
        INNER JOIN dbo.Usuarios U ON U.UsuarioId = CG.VendedorQueReporto
        WHERE CG.CasoId = @CasoId;

        IF @BoletoId IS NULL
        BEGIN
            RAISERROR(N'El caso de ganador no existe.', 16, 1);
            RETURN 1;
        END

        -- Verificar que no estÃ© en estado irreversible
        IF @EstadoCaso IN ('Registrado', 'Rechazado')
        BEGIN
            RAISERROR(N'El caso no puede ser registrado porque ya tiene un estado final.', 16, 1);
            RETURN 2;
        END

        BEGIN TRANSACTION;

        -- Crear entrega
        SET @EntregaId = NEWID();
        INSERT INTO dbo.EntregasGanadores (EntregaId, CasoId, NombreGanador, ApellidoGanador, NumeroContacto, LugarGano, NombreVendedor, ValorTotalGanado, PersonaQueEntrega, FechaEntrega)
        VALUES (@EntregaId, @CasoId, @NombreGanador, @ApellidoGanador, @NumeroContacto, @LugarGano, @NombreVendedor, @ValorTotalGanado, @PersonaQueEntrega, SYSUTCDATETIME());

        -- Actualizar caso a Registrado
        UPDATE dbo.CasosGanadores
        SET Estado = 'Registrado',
            FechaRegistro = SYSUTCDATETIME()
        WHERE CasoId = @CasoId;

        -- Marcar boleto como Premio entregado (RN-072, RN-073)
        UPDATE dbo.Boletos
        SET EstadoBoleto = 'Premio entregado',
            EstadoDelPremio = 'PremioEntregado',
            FechaEntregaPremio = SYSUTCDATETIME()
        WHERE BoletoId = @BoletoId;

        COMMIT TRANSACTION;
        PRINT 'Entrega de premio registrada correctamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarResultado] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_RegistrarResultado]
    @LoteriaId     UNIQUEIDENTIFIER,
    @FechaJuego    DATE,
    @Numero        CHAR(4),
    @NumeroGanadorId UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -- Verificar duplicado (UNIQUE FechaJuego + LoteriaId)
        IF EXISTS (SELECT 1 FROM dbo.NumerosGanadores WHERE FechaJuego = @FechaJuego AND LoteriaId = @LoteriaId)
        BEGIN
            RAISERROR(N'Ya existe un numero ganador para esta fecha y loteria.', 16, 1);
            RETURN 1;
        END

        SET @NumeroGanadorId = NEWID();
        INSERT INTO dbo.NumerosGanadores (NumeroGanadorId, LoteriaId, FechaJuego, Numero)
        VALUES (@NumeroGanadorId, @LoteriaId, @FechaJuego, @Numero);

        PRINT 'Resultado registrado correctamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RestablecerContrasena] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_RestablecerContrasena]
    @UsuarioId     UNIQUEIDENTIFIER,
    @NuevoHash     NVARCHAR(200),
    @NuevoSalt     NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Solo funciona si el usuario esta ACTIVO (requisito)
    IF NOT EXISTS (SELECT 1 FROM dbo.Usuarios WHERE UsuarioId = @UsuarioId AND Estado = 'Activo')
    BEGIN
        RAISERROR(N'El usuario debe estar ACTIVO para restablecer la contrasena.', 16, 1);
        RETURN 1;
    END

    UPDATE dbo.Usuarios
    SET PasswordHash = @NuevoHash,
        PasswordSalt = @NuevoSalt,
        EstadoValidado = 1,           -- Exige cambio de contrasena
        EstadoBloqueado = 0,
        IntentosFallidos = 0
    WHERE UsuarioId = @UsuarioId;

    -- Cerrar todas las sesiones abiertas (requisito)
    UPDATE dbo.Sesiones
    SET Activa = 0
    WHERE UsuarioId = @UsuarioId AND Activa = 1;

    PRINT 'Contrasena restablecida correctamente.';
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ValidarBoletoQR] Fecha de script: 27/09/2026 7:52:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_ValidarBoletoQR]
    @CodigoPublico CHAR(7),
    @ClaveHash     NVARCHAR(200),
    @Valido        BIT OUTPUT,
    @Estado        NVARCHAR(30) OUTPUT,
    @Mensaje       NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @BoletoId UNIQUEIDENTIFIER;
    DECLARE @HashAlmacenado NVARCHAR(200);

    SELECT @BoletoId = B.BoletoId, @HashAlmacenado = B.ClaveValidacionHash
    FROM dbo.Boletos B
    WHERE B.CodigoPublico = @CodigoPublico;

    IF @BoletoId IS NULL
    BEGIN
        SET @Valido = 0;
        SET @Estado = 'NO EXISTE';
        SET @Mensaje = N'NO SE ENCONTRÃ“ INFORMACIÃ“N';
        RETURN;
    END

    -- Verificar hash de clave de validacion
    IF @HashAlmacenado <> @ClaveHash
    BEGIN
        SET @Valido = 0;
        SET @Estado = 'CLAVE INVALIDA';
        SET @Mensaje = N'NO SE ENCONTRÃ“ INFORMACIÃ“N';
        RETURN;
    END

    SELECT @Estado = B.EstadoBoleto
    FROM dbo.Boletos B
    WHERE B.BoletoId = @BoletoId;

    SET @Valido = 1;
    SET @Mensaje = N'Boleto validado: ' + @Estado;
END
GO
USE [master]
GO
